127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
127.0.1.1 {{ inventory_hostname }} {{ inventory_hostname }}

192.168.4.10 apache-web-tier-dev-01
192.168.4.11 appnav-dev-01
192.168.4.12 appnav-dev-02
192.168.4.14 ssb-registration-dev-01
192.168.4.15 ssb-registration-dev-02
192.168.4.16 ssb-student-dev-01
192.168.4.20 ansible-control